*{
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

table{
    border-collapse: collapse;
}

thead tr:first-child th:first-child{
    border-radius: 20px 0 0 0;
}
thead tr:first-child th:last-child{
    border-radius: 0 20px 0 0;
}
tfoot tr:last-child td:first-child{
    border-radius: 0 0 0 20px;
}
tfoot tr:last-child td:last-child{
    border-radius: 0 0 20px 0;
} 

table thead tr th{
    text-align: center;
    color: rgb(245,255,255);
    padding: 0 30px;
}
td, th{
    text-align: center;
    padding: 15px;
}
table thead tr th:nth-child(1){
    background-color: rgb(121,135,172);
}
table thead tr th:nth-child(2){
    background-color: rgb(80,98,142);
}
table thead tr th:nth-child(3){
    background-color: rgb(47,65,115);
}
table thead tr th:nth-child(4){
    background-color: rgb(22,41,84);
}
table thead tr th:nth-child(5){
    background-color: rgb(8,21,60);
}

tbody tr:nth-child(even) td:nth-child(odd), 
tfoot:nth-child(even) td:nth-child(odd){
    background-color: rgb(245,255,255);
}

tbody tr:nth-child(odd) td:nth-child(even),
tfoot tr:nth-child(odd) td:nth-child(even){
    background-color: rgb(231,231,231);
}

tbody tr:nth-child(odd) td:nth-child(odd),
tfoot tr:nth-child(odd) td:nth-child(odd){
    background-color: rgb(219,219,219);
}

tbody tr:nth-child(even) td:nth-child(even){
    background-color: rgba(236, 236, 236, 0.247);
}

